{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'posts/style.css'%}" type="text/css" />
    <title>Daestagram</title>
  </head>
  <body>
    <h1>Edit Post</h1>

    {% if post.image %}
    <div>
      <img src="{{ post.image.url }}" alt="Post Image" />
    </div>
    {% endif %} 

    <form action="{% url 'posts:update' post.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <h2>본문</h2>
      <textarea cols="40" rows="10" name="body">{{ post.body }}</textarea>

      <div class="form-group">
        <label for="image">이미지</label>
        <input type="file" class="form-control-file" id="image" name="image" />
      </div>

      <br />
      <input type="submit" value="수정하기">
    </form>

    <a href="{% url 'posts:index' %}">목록</a>
  </body>
</html>